*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;

}

.child{
    width: 100px;
    height: 100px;
    background-color: #21bcc7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

