*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-big{
    width: 300px;
    height: 90px;
    background-color: #2f5173;
    color: white;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 13px;
}


.container-small{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.Small{
    width: 100px;
    height: 40px;
    background-color: #2f5173;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-line{
    display: flex;
    gap: 10px;
}



.father{
    display: flex;
    gap: 10px;
}



section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}