*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #239cc8;
    height: 10vh;
    padding: 0 10px;
    color: white;
}


.child{
    display: flex;
    flex-direction: row;
    
}

.child1{
    margin: 5px;
    background-color: rgb(35, 188, 24);
    width: 28%;
    height: 300px;
    color: white;
    padding: 10px;
    margin-left: 0;
    

}

.child2{
    margin: 5px;
    background-color: #c91818;
    flex: 1;
    color: white;
    padding: 10px;
    margin-right: 0;
}

footer{
    background-color: #c143c1;
    width: 100%;
    height: 10vh;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}